.saio-sidebar {
  max-height: 100vh;
}

.saio-sidebar .ant-drawer-body {
  padding: 0 !important;
}

.saio-sidebar .ant-drawer-body .ant-collapse {
  border-radius: 0 !important;
}

.saio-sidebar .ant-drawer-body .ant-collapse-item {
  border-radius: 0 !important;
}

.ant-drawer-content-wrapper {
  width: 300px !important;
}

.saio-sidebar .ant-drawer-footer {
  border-top: 0;
  padding: 12px 16px;
}